#content {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-row-gap: 4rem;
    max-width: 1000px;
    margin: 0 auto 100px auto;
    overflow: hidden;
}

#content div {
    margin-top: 10px;
}

/* 圆形 */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fd5f00;
}

/* 圆形 */
.circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50% 0;
    background-color: #fd5f00;
}

/* 圆形 */
.circle-3 {
    width: 100px;
    height: 100px;
    border-radius: 100% 0;
    background-color: #fd5f00;
}

/* 圆形 */
.circle-4 {
    width: 100px;
    height: 100px;
    border-radius: 100% 0 0;
    background-color: #fd5f00;
}

/* 圆形 */
.circle-5 {
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 0 0;
    background-color: #fd5f00;
}

/* 圆形 */
.circle-6 {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 100% 0;
    transform: rotate(45deg);
    background-color: #005792;
}

/* 圆形 */
.circle-7 {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    transform: rotate(45deg);
    background-color: #005792;
}

/* 环形 */
.ring {
    width: 80px;
    height: 80px;
    border: 10px solid #005792;
    border-radius: 50%;
}

/* 环形 */
.ring2 {
    width: 60px;
    height: 85px;
    border: 10px solid #005792;
    border-radius: 50%;
}

/* 环形 */
.ring5 {
    width: 100px;
    height: 100px;
    border-left: 10px solid #c50d66;
    border-radius: 50%;
}

/* 环形 */
.ring6 {
    position: relative;
    width: 100px;
    height: 100px;
    border-left: 10px solid #fd5f00;
    border-right: 10px solid #fd5f00;
    border-radius: 50%;
    background: #f6f6e9;
}

.ring6::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    height: 45px;
    width: 45px;
    border: 5px solid #1687a7;
    border-radius: 50%;
}

.ring6::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%);
    height: 20px;
    width: 20px;
    background: #393E46;
    border-radius: 100% 0;
}


/* 环形 */
.ring7 {
    width: 100px;
    height: 80px;
    border-left: 10px solid #ccc;
    border-top: 10px solid #c50d66;
    border-right: 10px solid #5BE7C4;
    border-bottom: 10px solid #FCE38A;
    border-radius: 50%;
    align-self: center;
}

/* 环形 */
.ring8 {
    width: 100px;
    height: 100px;
    border-left: 10px solid #FCE38A;
    border-top: 10px solid #FCE38A;
    border-right: 10px solid #FCE38A;
    /* border-bottom: 10px solid #FCE38A; */
    border-radius: 50%;
    align-self: center;
}

/* 环形 */
.ring9 {
    width: 100px;
    height: 80px;
    border-left: 10px solid #ccc;
    border-right: 10px solid #5BE7C4;
    border-radius: 100px 0;
    align-self: center;
}

/* 环形 */
.ring10 {
    width: 100px;
    height: 50px;
    border-top: 10px solid #5BE7C4;
    border-bottom: 10px solid #c50d66;
    border-radius: 50%;
    align-self: center;
}

/* 椭圆1 */
.ellipse {
    width: 100px;
    height: 80px;
    align-self: center;
    border-radius: 50%;
    background-color: #3b9a9c;
}

/* 椭圆2 */
.ellipse2 {
    width: 100px;
    height: 80px;
    align-self: center;
    border-radius: 20px 20px / 100px 10px;
    background-color: #3b9a9c;
}

/* 椭圆3 */
.ellipse3 {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: #3b9a9c;
}

.ellipse4 {
    width: 100px;
    height: 50px;
    border-radius: 100% 0 0 0;
    background-color: #3b9a9c;
}

.ellipse5 {
    width: 80px;
    height: 100px;
    align-self: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #3b9a9c;
}

.block {
    width: 0;
    height: 0;
    border-left: 50px solid #3b9a9c;
    border-top: 50px solid #fef4a9;
    border-right: 50px solid #78fee0;
    border-bottom: 50px solid #4bc2c5;
}

.block1 {
    width: 0;
    height: 0;
    border-left: 50px solid #3b9a9c;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.block2 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 100px solid #fef4a9;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.block3 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 50px solid #78fee0;
    border-bottom: 50px solid transparent;
}

.block4 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #4bc2c5;
    transform: translateY(-40%);
}

.block5 {
    width: 0;
    height: 0;
    border-left: 50px solid #3b9a9c;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
}

.block6 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 50px solid #fef4a9;
    /* border-right: 50px solid #78fee0;  */
    border-bottom: 50px solid transparent;
}

.bubble {
    width: 100px;
    height: 50px;
    border: 5px solid #FFB5BF;
    position: relative;
}

.common {
    width: 0;
    height: 0;
    position: absolute;
    /* 使用绝对定位 */
    left: 50%;
    transform: translate(-50%, 0);
    /* 水平居中 */
}

.triangle {
    bottom: -20px;
    border-top: 20px solid #FFB5BF;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.cover {
    bottom: -13px;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.block7 {
    width: 0;
    height: 0;
    border-left: 50px solid #393E46;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #393E46;
}

.block8 {
    width: 50px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #0072BB;
}

.block9 {
    height: 80px;
    width: 100px;
    margin-bottom: 20px;
    background-color: #cf3425;
    transform: skewX(20deg);
    transform: skewY(20deg);
}

.block10 {
    height: 80px;
    width: 100px;
    background-color: #6a60a9;
    transform: skew(20deg);
    margin-left: 20px;
}

.block11 {
    width: 50px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 50px solid #57BE85;
}

.diamond {
    position: relative;
    width: 40px;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #313238;
}

.diamond::after {
    position: absolute;
    content: "";
    color: #fff;
    top: 20px;
    left: -30px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 60px solid #313238;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#diamond {
    width: 400px;
    height: 200px;
    position: relative;
    top: -20px;
}

#diamond .t {
    height: 30px;
}

#diamond .commons {
    position: relative;
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
}

#diamond .commons::after {
    position: absolute;
    content: "";
    border-style: solid;
}


#diamond .top {
    border-width: 0 30px 30px;
    border-color: transparent transparent #d9d9f3;
}

#diamond .top:after {
    top: 1px;
    left: -28px;
    border-width: 0 28px 28px;
    border-color: transparent transparent #86269b;
}

#diamond .top:nth-child(2n) {
    transform: rotateX(180deg);
}

#diamond .top:nth-child(n+2) {
    margin-left: -30px;
}

#diamond .bottom {
    top: -11px;
    border-width: 120px 30px 0 30px;
    border-color: #d9d9f3 transparent transparent;
}

#diamond .bottom::after {
    position: absolute;
    content: "";
    top: -118px;
    left: -29px;
    border-width: 118px 27px 0 27px;
    border-color: #86269b transparent transparent;
}

#diamond .bottom:first-child {
    transform: skew(26deg);
    left: 31px;
}

#diamond .bottom:last-child {
    transform: skew(-25.6deg);
    left: -30px;
}

.star-six {
    position: relative;
    width: 0;
    height: 0;
    margin-left: 20px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #1687a7;
}

.star-six::after {
    position: absolute;
    left: -50px;
    top: 25px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #1687a7;
    content: "";
}

.star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.star-five:before {
    border-right: 30px solid transparent;
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-left: 80px;
    align-self: center;
}

.heart::before,
.heart::after {
    position: absolute;
    content: "";
    height: 100px;
    width: 60px;
    background-color: #fd5f00;
    border-radius: 30px 30px 0 0;
}

.heart::before {
    transform: rotate(-45deg);
    transform-origin: -18px;
}

.heart::after {
    transform: rotate(45deg);
    transform-origin: 78px;
}

.circle34 {
    height: 0;
    width: 0;
    border-right: 60px solid transparent;
    border-left: 60px solid #E8222D;
    border-top: 60px solid #E8222D;
    border-bottom: 60px solid #E8222D;
    border-radius: 100%;
    /* align-self: center; */
}


.circle35 {
    position: relative;
    height: 0;
    width: 0;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-bottom: 80px solid #5BE7C4;
    border-radius: 100%;
}

.circle35::before {
    position: absolute;
    top: -58px;
    left: -60px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 60px solid transparent;
    border-bottom: 60px solid #5BE7C4;
    border-radius: 100%;
    transform: rotate(180deg);
    content: "";
}

#space-invader {
    box-shadow: 0 0 0 1em red,
        0 1em 0 1em red,
        -2.5em 1.5em 0 .5em red,
        2.5em 1.5em 0 .5em red,
        -3em -3em 0 0 red,
        3em -3em 0 0 red,
        -2em -2em 0 0 red,
        2em -2em 0 0 red,
        -3em -1em 0 0 red,
        -2em -1em 0 0 red,
        2em -1em 0 0 red,
        3em -1em 0 0 red,
        -4em 0 0 0 red,
        -3em 0 0 0 red,
        3em 0 0 0 red,
        4em 0 0 0 red,
        -5em 1em 0 0 red,
        -4em 1em 0 0 red,
        4em 1em 0 0 red,
        5em 1em 0 0 red,
        -5em 2em 0 0 red,
        5em 2em 0 0 red,
        -5em 3em 0 0 red,
        -3em 3em 0 0 red,
        3em 3em 0 0 red,
        5em 3em 0 0 red,
        -2em 4em 0 0 red,
        -1em 4em 0 0 red,
        1em 4em 0 0 red,
        2em 4em 0 0 red;
    background: red;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 50px 0 70px 65px;
}


#yin-yang {
    width: 150px;
    box-sizing: content-box;
    height: 75px;
    background: #fff;
    border-color: #3d3d3b;
    border-style: solid;
    border-width: 2px 2px 75px 2px;
    border-radius: 100%;
    position: relative;
    top: -50px;
}


#yin-yang1 {
    width: 150px;
    box-sizing: content-box;
    height: 75px;
    background: #fff;
    border-color: #3d3d3b;
    border-style: solid;
    border-width: 2px 2px 75px 2px;
    border-radius: 100%;
    position: relative;
    top: -50px;
}

#yin-yang1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 28px solid #3d3d3b;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}

#yin-yang1:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 49.5%;
    background: #3d3d3b;
    border: 27.5px solid #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}